<section class="modal-content">

    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h2 class="modal-title" translate="SENDModal_Title">Confirm Transaction!</h2>

        <p>You are about to <strong>execute a function on contract</strong>
            <a href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', tx.to)}}" target="_blank"
               rel="noopener">
                {{tx.to}}
            </a>
            on the
            <coin-icon icon="{{ajaxReq.type.toLowerCase()}}" hidetext="{{true}}"></coin-icon>
            {{ajaxReq.type}}
            chain
        </p>

        <p> The
            <coin-icon icon="{{ajaxReq.type.toLowerCase()}}" hidetext="{{true}}"></coin-icon>
            {{ajaxReq.type}}
            node you are sending
            through is provided by <strong>{{ajaxReq.service}}</strong>.
        </p>


        <label for="sendContractTxValue" translate="SEND_amount"> Amount <em>In most cases you should leave
            this as
            0.</em>
        </label>
        <div class="input-group">
            <input class="form-control"
                   type="number"
                   autocomplete="off"
                   min="0"
                   step="1e-18"
                   placeholder="0"
                   ng-model="tx.value"
                   required
                   ng-model-options="{debounce: 500}"
                   name="value"
                   id="sendContractTxValue"
                   ng-class="sendContractTx.value.$valid ? 'is-valid' : 'is-invalid'"

            />
            <span class="input-group-addon">
                    {{tx.unit}}
                </span>
        </div>

        <label for="sendContractTxGaslimit" translate="TRANS_gas"> Gas </label>
        <div class="input-group">
            <input class="form-control"
                   type="number"
                   min="21000"
                   ng-model-options="{debounce: 500}"
                   autocomplete="off"
                   step="1"
                   name="gasLimit"
                   id="sendContractTxGaslimit"
                   placeholder="300000"
                   ng-model="tx.gasLimit"
                   required
                   ng-class="sendContractTx.gasLimit.$valid ? 'is-valid' : 'is-invalid'"
            />


            <span class="input-group-btn">
                    <button
                        type="button"
                        class="btn btn-default"
                        ng-click="estimateGasLimit()"
                    >Estimate gasLimit
                    </button>
                </span>

        </div>

        <transaction-cost></transaction-cost>

        <button type="button"
                class="btn btn-info btn-block"
                ng-click="generateTx()"
                translate="SEND_generate"
        >
            Generate
            Transaction
        </button>


        <!-- Data -->
        <section class="row" ng-show="showRaw">
            <!-- Raw TX -->
            <div class="form-group col-sm-6">
                <h4 translate="SEND_raw"> Raw Transaction </h4>
                <textarea
                    name="rawTx"
                    id="rawTx"
                    title="rawTx" class="form-control" rows="3" readonly>{{rawTx}}</textarea>
            </div>
            <!-- Singed TX -->
            <div class="form-group col-sm-6">
                <h4 translate="SEND_signed"> Signed Transaction </h4>
                <textarea
                    title="signed tx" class="form-control" rows="3" readonly>{{signedTx}}</textarea>
            </div>
        </section>

    </div>


    <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal" translate="SENDModal_No">
            No, get me out of here!
        </button>
        <button
            type="submit"
            ng-disabled="!sendContractTx.$valid"
            class="btn btn-primary" translate="SENDModal_Yes">
            Yes, I am sure! Make transaction.
        </button>
    </div>

</section>
