<!-- modal body -->

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">&times;</button>

    <h2 class="modal-title" translate="NODE_Title"> Set Up Your Custom Node
        <a
            href="https://support.ethereumcommonwealth.io/networks/cant-connect-to-custom-node-on-mycrypto.html"
            target="_blank" rel="noopener noreferrer">
            <small>
                Instructions
            </small>
        </a>

    </h2>


    <div ng-show="browserProtocol=='https:'" class="alert alert-danger small" translate="NODE_Warning">
        Your node must be HTTPS in order to connect to it via ClassicEtherWallet.com. You can

        <a href="https://github.com/EthereumCommonwealth/etherwallet/releases/latest" rel="noopener nofeferrer"
           target="_blank" translate="CUSTOM_NODE_CONNECT_DOWNLOAD">
        </a>
        to connect to your local node. Or, get free SSL certificate via
        <a href="https://letsencrypt.org/" target="_blank" rel="noopener nofeferrer">LetsEncrypt</a>
    </div>


    <div class="clearfix col-xs-12">

        <label translate="NODE_Name" for="nodeName">Node Name</label>
        <input class="form-control"
               type="text"
               id="nodeName"
               autocomplete="off"
               spellcheck="false"
               required
               name="nodeName"
               placeholder="My ETH Node"
               ng-model="customNode.name"
               ng-class="customNodeForm.nodeName.$valid ? 'is-valid' : 'is-invalid'">
    </div>

    <div class="clearfix col-xs-9">
        <label for="url">URL</label>
        <input
            class="form-control"
            type="url"
            id="url"
            name="url"
            required
            placeholder="http://127.0.0.1"
            ng-model="customNode.url"
            ng-class="customNodeForm.url.$valid ? 'is-valid' : 'is-invalid'">
    </div>

    <div class="clearfix col-xs-3">
        <label class="NODE_Port" for="port">Port</label>
        <input
            class="form-control"
            type="number"
            placeholder="8545"
            ng-model="customNode.port"
            id="port" name="port"
            ng-class="customNodeForm.port.$valid ? 'is-valid' : 'is-invalid'">
    </div>

    <div class="clearfix col-xs-12">
        <label><input type="checkbox" ng-model="customNode.httpBasicAuth"
                      ng-true-value="{user:'',password:''}" ng-false-value="null" value="false">
            HTTP Basic access authentication </label>
    </div>

    <div class="clearfix col-xs-6" ng-show="customNode.httpBasicAuth">
        <label for="user">User</label>
        <input
            name="user"
            id="user"


            ng-required="customNode.httpBasicAuth"
            class="form-control" type="text" ng-model="customNode.httpBasicAuth.user"
            ng-class="customNode.httpBasicAuth &amp;&amp; customNode.httpBasicAuth.user.length > 0 ? 'is-valid' : 'is-invalid'">
    </div>

    <div class="clearfix col-xs-6" ng-show="customNode.httpBasicAuth">
        <label for="httpBasicAuth" translate="x_Password">Password</label>
        <input
            id="httpBasicAuth"
            name="httpBasicAuth"
            ng-required="customNode.httpBasicAuth"
            class="form-control"
            type="password"
            ng-model="customNode.httpBasicAuth.password"
            ng-class="customNode.httpBasicAuth &amp;&amp; customNode.httpBasicAuth.password.length > 0 ? 'is-valid' : 'is-invalid'">
    </div>

    <div class="clearfix col-xs-12 radio">

        <span>
            <label>
                <input name="options" type="radio" ng-model="customNode.type" value="cus">
                <b>
                    <coin-icon icon="custom"/>
                </b>
            </label>
        </span>
        <br/>
        <span ng-repeat="node in _nodes">
            <label>
                <input
                    type="radio"
                    name="nodeType"
                    required
                    ng-change="setNodeMetadata(node.type)"
                    ng-model="customNode.type"
                    ng-value="node.type"
                >
                <b>
                    <coin-icon icon="{{node.type.toLowerCase()}}"></coin-icon>
                </b>
            </label>
        </span>


    </div>

    <div class="col-sm-6">
        <label><input type="checkbox" ng-model="customNode.eip155" value="true"> Supports EIP-155
        </label>
    </div>

    <div class="col-sm-6">
        <label for="chainId">Chain ID</label>
        <input class="form-control-sm"
               type="number"
               name="chainId"
               id="chainId"
               required
               ng-model="customNode.chainId"
               ng-class="customNodeForm.chainId.$valid ? 'is-valid' : 'is-invalid'">
    </div>

</div>


<!-- /modal body -->

<!-- FOOTER -->

<div class="modal-footer">
    <button
        class="btn btn-default"
        data-dismiss="modal"
        translate="x_Cancel"
    >
        >
        Cancel
    </button>
    <button class="btn btn-primary"
            type="submit"
            translate="NODE_CTA"
            ng-disabled="customNodeForm.$invalid"
    >
        Save &amp; Use Custom Node
    </button>
</div>


