<h4 translate="GEN_Label_1"> Enter password </h4>
<div class="input-group" ng-init="showPass = true;">
    <input name="password"
           class="form-control"
           required
           autocomplete="off"
           spellcheck="false"
           id="password"
           ng-model-options="{debounce: 300}"
           tabindex="1"
           type="{{showPass && 'password' || 'text'}}"
           placeholder="{{'GEN_Placeholder_1' | translate }}"
           ng-model="userInput.password"
           ng-class="generateWalletForm.password.$valid ? 'is-valid' : 'is-invalid'"
           aria-label="{{'GEN_Label_1' |translate}}"/>
    <span tabindex="0"
          aria-label="make password visible"
          role="button"
          class="input-group-addon eye"
          ng-click="showPass = !showPass"></span>
</div>

<div class="row">
    <span class="text-danger"
          translate="GEN_Password_Length"
          ng-show="generateWalletForm.password.$dirty && generateWalletForm.password.$error.validPassword">
        Password length must be greater than 8 characters

    </span>
</div>
<div class="input-group" ng-init="showPass2 = true;">
    <input name="password2"
           class="form-control"
           required
           id="password2"
           ng-model-options="{debounce: 300}"
           spellcheck="false"
           tabindex="1"
           type="{{showPass2 && 'password' || 'text'}}"
           placeholder="Confirm password"
           ng-model="userInput.password2"
           ng-class="generateWalletForm.password2.$valid ? 'is-valid' : 'is-invalid'"
           aria-label="Confirm password"/>
    <span tabindex="0"
          aria-label="make password visible"
          role="button"
          class="input-group-addon eye"
          ng-click="showPass2 = !showPass2"></span>


</div>
<div class="row">
    <span class="text-danger"
          translate="GEN_Passwords_Must_Match"
          ng-show="generateWalletForm.password2.$dirty && generateWalletForm.password2.$error.matchesPassword">

    </span>
</div>
<button tabindex="0"
        type="submit"
        ng-disabled="generateWalletForm.$invalid"
        class="btn btn-primary"
   translate="NAV_GenerateWallet">Generate Wallet</button>
<p translate="x_PasswordDesc"></p>
