<div class="row"
     ng-if="wallet"
>
    <div class="col-xs-6">You have:</div>
    <div class="col-xs-6">Total:</div>
    <a ng-click="viewMessageList()">
        <div class="col-xs-6">

            <span ng-if="messageService.loadingMessages">
                LOADING...
            </span>
            <span ng-if="!messageService.loadingMessages">
                {{messageService.numberOfNewMessages(wallet.getAddressString())}} Recent messages
            </span>
        </div>
    </a>
    <div class="col-xs-6">
        <span ng-if="messageService.loadingMessages">
                LOADING...
            </span>
        <span ng-if="!messageService.loadingMessages">
            {{messageService.messages.length}} messages
       </span>
    </div>
</div>
