<ul class="dropdown-menu" ng-show="globalService.dropdownNode" ng-init="showMe = null;">
    <li
        style="display: flex; flex-direction: column;"
        ng-repeat="network in networkList track by network.type"
        class="{{network.type.toLowerCase() + ' pointer grey-bottom-border container'}}"

    >
        <div
            class="d-flex align-items-center"

            style="margin: .2em; padding: .5em .25em; width: 100%;">
            <a
                class="dropdown-header d-flex align-items-center"
                style="padding: .3em .4em;"
                ng-click="changeNetwork(network.type); globalService.dropdownNode = false;"
            >

                    <coin-icon
                        style="width: 30px; display: inline-block;"
                        icon="{{network.type.toLowerCase()}}"
                        hidetext="{{true}}"></coin-icon>
                <span
                    class="network-label"
                    ng-class="{true: 'is-selected'}[ajaxReq.type === network.type]"
                ></span>
                <span
                    class="network-type"
                    ng-class="{true: 'is-selected'}[ajaxReq.type === network.type]"
                    >
                    {{network.type}}
                </span>
            </a>

            <a style="position: absolute; right: 0; width: 32px; height: 32px;"
               ng-click="showMe === network.type ? showMe = null : showMe = network.type"
            >
                <span class="caret"
                    ng-class="{true: 'rotate'}[showMe === network.type]"
                ></span>
            </a>
        </div>
        <div ng-if="showMe === network.type">
            <node-selector-list></node-selector-list>
        </div>
    </li>
    <li
        ng-click="customNodeModal.open(); globalService.dropdownNode = !globalService.dropdownNode;"
    >
        <a
            translate="NODE_Add_Custom"
        >Add Custom Node </a>
    </li>
</ul>
