<article class="modal fade" id="sendTransaction" tabindex="-1">
    <section class="modal-dialog">
        <section class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" translate="SENDModal_Title">Confirm Transaction!</h2>

                <div ng-show="tx.sendMode === 'token'" class="alert alert-info">
                    You are sending {{tx.value}}
                    {{unitReadable}} tokens to
                    {{tx.to}}
                </div>

                <table class="table">

                    <thead>
                    <tr>
                        <td colspan="2">
                            You are interacting with the
                            <coin-icon icon="{{ajaxReq.type.toLowerCase()}}" hidetext="{{true}}"></coin-icon>
                            {{ajaxReq.type}}

                            <strong>chain</strong>, provided by <strong>{{ajaxReq.service}}</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span translate="SENDModal_From" for="tx_from">
                                from
                            </span>
                        </td>
                        <td>

                            <a
                                rel="noopener noreferrer"
                                class="d-flex align-items-center justify-content-flex-end"
                                href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', walletService.wallet.getAddressString())}}">


                                <div
                                    style="margin: 0; margin-right: .5rem;"
                                    class="addressIdenticon small" title="Address Indenticon"
                                    blockie-address="{{walletService.wallet.getChecksumAddressString()}}"
                                    watch-var="walletService.wallet.getChecksumAddressString()"></div>

                                <span>
                                    {{walletService.wallet.getChecksumAddressString()}}
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="SENDModal_To">
                                to
                            </span>
                        </td>
                        <td>
                            <a
                                target="_blank"
                                rel="noopener noreferrer"
                                class="d-flex align-items-center justify-content-flex-end"
                                href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', tx.sendMode === 'ether' ? tx.to : tokenTx.to)}}">


                                <div class="addressIdenticon small"
                                     title="Address Indenticon"
                                     style="margin: 0; margin-right: .5rem;"
                                     ng-show="tx.sendMode === 'token'"
                                     blockie-address="{{tokenTx.to}}"
                                     watch-var="tokenTx.to"
                                ></div>

                                <div class="addressIdenticon small" title="Address Indenticon"
                                     ng-show="tx.sendMode === 'ether'"
                                     style="margin: 0; margin-right: .5rem;"
                                     blockie-address="{{tx.to}}"
                                     watch-var="tx.to"
                                ></div>

                                <span>
                                        {{tx.sendMode === 'ether' ? ethUtil.toChecksumAddress(tx.to) :  ethUtil.toChecksumAddress(tokenTx.to)}}
                                    </span>

                            </a>
                        </td>
                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td translate="SENDModal_Value">Value</td>
                        <td class="text-right">
                            <strong class="mono">
                                {{tx.value}}
                                {{unitReadable}}
                            </strong>
                            <br/>
                            <small ng-show="tx.sendMode === 'ether'">
                                ({{+tx.value * +coinPrices[ajaxReq.type].usd | currency}})
                            </small>
                        </td>
                    </tr>
                    <tr ng-show="0 < txCostEther">
                        <td>Fee</td>
                        <td class="text-right" title="{{txCostFiat | currency}}">
                            <strong class="mono">
                                {{txCostEther}}
                            </strong>
                            {{node.type}}
                            <br/>
                            <small ng-show="tx.sendMode === 'ether'">
                                ({{txCostFiat | currency}})
                            </small>
                        </td>
                    </tr>

                    <tr ng-show="tx.sendMode === 'ether'">
                        <td translate="total" class="text-capitalize">
                            total
                        </td>
                        <td class="text-right">
                            <strong class="mono">
                                {{+tx.value + +txCostEther}}
                            </strong>
                            {{unitReadable}}
                            <span ng-show="0 < txCostEther">
                                <br/>
                                <small>
                                    ({{(+txCostEther + +tx.value) * coinPrices[ajaxReq.type].usd | currency}})
                                </small>
                            </span>

                        </td>
                    </tr>
                    </tbody>


                </table>

                <div ng-init="showDetails = false;" class="container-fluid">
                    <div class="row">
                        <div class="text-center col-xs-12">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="showDetails = !showDetails"
                            >Details
                            </button>
                        </div>
                    </div>
                    <div ng-show="showDetails" class="row">
                        <textarea title="tx details" class="form-control" rows="5">
                            {{tx.sendMode === 'ether' ? tx : tokenTx | json }}
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" translate="x_CancelTx">
                    Cancel Transaction
                </button>
                <button class="btn btn-primary" ng-click="sendTx()" translate="SENDModal_Yes">
                    Yes, I am sure! Make transaction.
                </button>
            </div>

        </section>
    </section>
</article>
