<article class="modal fade" id="sendTransaction" tabindex="-1">
    <section class="modal-dialog">
        <section class="modal-content">
            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" translate="SENDModal_Title">Confirm Transaction!</h2>

                <table class="table table-responsive">

                    <thead>
                    <tr>
                        <td colspan="2">
                            You are interacting with the <strong>
                    <span class="{{'icon icon-' + ajaxReq.type.toLowerCase()}}"
                          ng-style="{color: colors[ajaxReq.type.toLowerCase()]}"
                    >
                         {{ajaxReq.type}}
                    </span>
                            chain</strong>, provided by <strong>{{ajaxReq.service}}</strong>.
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td translate="SENDModal_Value">Value</td>
                        <td class="text-right">
                            <strong ng-show="tx.sendMode=='ether'" class="mono">{{tx.value}} {{unitReadable}}</strong>
                            <strong ng-show="tx.sendMode!=='ether'" class="mono">{{tokenTx.value}}
                                {{unitReadable}}</strong>
                        </td>
                    </tr>

                    <tr>
                        <td translate="SENDModal_To">to</td>
                        <td>
                            <div class="input-group" ng-show="tx.sendMode === 'ether'">
                                <span class="input-group-addon">
                                    <div class="addressIdenticon med" title="Address Indenticon"
                                         blockie-address="{{tx.to}}" watch-var="tx.to"></div>
                                </span>
                                <input class="form-control" readonly value="{{tx.to}}"/>
                            </div>

                            <div class="input-group" ng-show="tx.sendMode !== 'ether'">
                                <span class="input-group-addon">
                                    <div class="addressIdenticon med" title="Address Indenticon"
                                         blockie-address="{{tokenTx.to}}" watch-var="tokenTx.to"></div>
                                </span>
                                <input class="form-control" readonly value="tokenTx.to"/>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td translate="SENDModal_From">from</td>
                        <td>

                            <div class="input-group">
                              <span class="input-group-addon">
                                <div class="addressIdenticon med" title="Address Indenticon"
                                     blockie-address="{{walletService.wallet.getChecksumAddressString()}}"
                                     watch-var="walletService.wallet.getChecksumAddressString()"></div>
                          </span>
                                <input class="form-control" disabled
                                       value="{{walletService.wallet.getChecksumAddressString()}}"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>
                            <transaction-cost></transaction-cost>
                        </td>
                    </tr>

                    <!--todo: handle send token-->

                    <!--<tr>-->
                    <!--<td translate="Total">-->
                    <!--total-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                    <!--{{(tx.gasLimit / 1e18) + +tx.value}}-->
                    <!--<span class="{{'icon icon-' + ajaxReq.type.toLowerCase()}}"-->
                    <!--ng-style="{color: colors[ajaxReq.type.toLowerCase()]}"-->
                    <!--&gt;-->
                    <!--{{ajaxReq.type}}-->
                    <!--</span>-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tbody>

                    <tfoot ng-init="showDetails = false;">
                    <tr>
                        <td class="text-center" colspan="2">
                            <button type="button"
                                    class="btn"
                                    ng-click="showDetails = !showDetails"
                            >Details
                            </button>
                        </td>
                    </tr>
                    <tr ng-show="showDetails">
                        <td colspan="2">
                            {{tx | json }}
                        </td>
                    </tr>
                    </tfoot>

                </table>


            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" translate="x_CancelTx">
                    Cancel Transaction
                </button>
                <button class="btn btn-primary" ng-click="sendTx()" translate="SENDModal_Yes">
                    Yes, I am sure! Make transaction.
                </button>
            </div>

        </section>
    </section>
</article>
