<!-- Section 1 -->
<section class="block txstatus__1">
    <article class="row">
        <h1 translate="NAV_CheckTxStatus"> Check TX Status </h1>

        <section class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <form name="txStatusForm" novalidate>
                <div class="form-group">
                    <label for="txHash" translate="x_TransHash">
                        Tx Hash
                    </label>
                    <input
                        id="txHash"
                        class="form-control"
                        type="text"
                        name="hash"
                        ng-model-options="{debounce: 300}"
                        placeholder="0x3f0efedfe0a0cd611f2465fac9a3699f92d6a06613bc3ead4f786856f5c73e9c"
                        ng-model="txInfo.hash"
                        required
                        valid-tx-hash
                        aria-label="{{'x_TxHash' | translate}}"
                        ng-class="txStatusForm.hash.$valid ? 'is-valid' : 'is-invalid'"
                    />
                </div>
                <button tabindex="0"
                        type="submit"
                        class="btn btn-primary"
                        ng-disabled="txStatusForm.$invalid || txStatusForm.$pending"
                        translate="NAV_CheckTxStatus"> Check TX Status
                </button>
            </form>
            <span ng-show="txStatusForm.$pending" translate="loading">
                loading...
            </span>
        </section>
    </article>
</section>
<!-- / Section 1 -->


<!-- Section 2: Current State -->
<section class="block"
         ng-show="txStatusForm.$valid && !txStatusForm.$pending">


    <div class="cont-md" ng-show="txInfo.status === txStatus.mined">

        <h3 class="text-success" translate="tx_FoundOnChain"> Transaction Found </h3>
        <!--<p><strong translate="tx_FoundOnChain_1"></strong></p>-->
        <!--<ul>-->
        <!--<li translate="tx_FoundOnChain_2"></li>-->
        <!--<li translate="tx_FoundOnChain_3"></li>-->
        <!--</ul>-->
    </div>

    <div class="cont-md" ng-show="txInfo.status === txStatus.notFound">
        <h3 class="text-danger" translate="tx_notFound">Transaction Not Found</h3>
        <p><strong translate="tx_notFound_1"></strong></p>
        <ul>
            <li translate="tx_notFound_2"></li>
            <li translate="tx_notFound_3"></li>
            <li translate="tx_notFound_4"></li>
        </ul>
    </div>

    <div class="cont-md" ng-show="txInfo.status === txStatus.found">
        <h3 class="text-warning" translate="tx_foundInPending">Pending Transaction Found</h3>
        <ul>
            <li translate="tx_foundInPending_1"></li>
            <li translate="tx_foundInPending_2"></li>
            <li translate="tx_foundInPending_3"></li>
        </ul>
    </div>

    <div ng-show="txInfo.status === txStatus.found || txInfo.status === txStatus.mined">
        <table class="table cont-md">
            <caption translate="tx_Details"></caption>
            <tbody>

            <tr>
                <td>

                    Confirmations
                </td>
                <td>
                    {{currentBlockNumber - txInfo.blockNumber | number}}
                </td>
            </tr>
            <tr>
                <td translate="SEND_amount_short">Amount</td>
                <td>{{ txInfo.valueStr }}
                    <coin-icon icon="{{ajaxReq.type.toLowerCase()}}">
                    </coin-icon>
                    <span ng-show="txInfo.value_fiat">
                       ({{txInfo.value_fiat | currency}})
                    </span>
                </td>
            </tr>

            <tr>
                <td translate="x_TxHash">TX Hash</td>
                <td>
                    <a href="{{ajaxReq.blockExplorerTX.replace('[[txHash]]', txInfo.hash)}}"
                       target="_blank"
                       rel="noopener"
                    >
                        {{txInfo.hash}}


                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="account-help-icon"
                       href="https://myetherwallet.groovehq.com/knowledge_base/topics/what-is-nonce" target="_blank"
                       rel="noopener noreferrer">
                        <img src="images/icon-help.svg" class="help-icon"/>
                        <p class="account-help-text" translate="NONCE_Desc"></p>
                    </a>
                    <span translate="OFFLINE_Step2_Label_5">Nonce</span>
                </td>
                <td>{{ txInfo.nonce | number }}</td>
            </tr>

            <tr>
                <td translate="OFFLINE_Step1_Label_1">From Address</td>
                <td><a href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', txInfo.from) }}" target="_blank"
                       rel="noopener">

                       <span>
                            <div
                                style="display: inline-block;"
                                class="addressIdenticon small" title="Address Indenticon"
                                blockie-address="{{txInfo.from}}" watch-var="txInfo.from"></div>
                        {{txInfo.from }}
                       </span>

                </a>

                </td>
            </tr>
            <tr>
                <td translate="OFFLINE_Step2_Label_1">To Address</td>
                <td><a href="{{ajaxReq.blockExplorerAddr.replace('[[address]]', txInfo.to) }}" target="_blank"
                       rel="noopener">
                         <span>
                            <div
                                style="display: inline-block;"
                                class="addressIdenticon small" title="Address Indenticon"
                                blockie-address="{{txInfo.to}}" watch-var="txInfo.to"></div>
                        {{txInfo.to }}
                       </span>
                </a>
                </td>
            </tr>


            <tr>
                <td translate="x_TxBlockNumber">Tx Block Number</td>
                <td>{{txInfo.blockNumber | number}}</td>
            </tr>
            <tr>
                <td>
                    <a class="account-help-icon"
                       href="https://myetherwallet.groovehq.com/knowledge_base/topics/what-is-gas" target="_blank"
                       rel="noopener">
                        <img src="images/icon-help.svg" class="help-icon"/>
                        <p class="account-help-text" translate="GAS_LIMIT_Desc"></p>
                    </a>
                    <span translate="OFFLINE_Step2_Label_4">Gas Limit</span>
                </td>
                <td>{{ txInfo.gasLimit | number }}</td>
            </tr>
            <tr>
                <td>
                    <a class="account-help-icon"
                       href="https://myetherwallet.groovehq.com/knowledge_base/topics/what-is-gas" target="_blank"
                       rel="noopener">
                        <img src="images/icon-help.svg" class="help-icon"/>
                        <p class="account-help-text" translate="GAS_PRICE_Desc"></p>
                    </a>
                    <span translate="OFFLINE_Step2_Label_3">Gas Price</span>
                </td>
                <td>
                    {{ txInfo.gasPrice.gwei }} GWEI
                    <small>({{ txInfo.gasPrice.wei }} WEI)</small>
                </td>
            </tr>
            <tr ng-if="txInfo.txFee">
                <td translate="x_TXFee">Tx Fee</td>
                <td>
                    {{txInfo.txFee.gwei | number }}
                    GWEI
                    ({{txInfo.txFee.wei | number}}
                    WEI)
                    <span ng-show="txInfo.txFee_fiat">
                        ({{txInfo.txFee_fiat | currency}})
                    </span>
                </td>
            </tr>
            <!--<tr>-->
            <!--<td>-->
            <!--<a class="account-help-icon"-->
            <!--href="https://myetherwallet.groovehq.com/knowledge_base/topics/what-is-gas" target="_blank"-->
            <!--rel="noopener">-->
            <!--<img src="images/icon-help.svg" class="help-icon"/>-->
            <!--<p class="account-help-text" translate="TXFEE_Desc"></p>-->
            <!--</a>-->
            <!--<span translate="x_TXFee">TX Fee</span>-->
            <!--</td>-->
            <!--<td>-->
            <!--({{ txFee.eth }} ETH)-->
            <!--<small>({{ txFee.usd }} USD)</small>-->
            <!--</td>-->
            <!--</tr>-->
            <tr ng-show="txInfo.data">
                <td>
                    <label translate="OFFLINE_Step2_Label_6" for="txInfoData">
                        Data
                    </label>
                </td>
                <td>
                        <textarea rows="5" class="form-control" readonly name="txInfoData" id="txInfoData">
                        {{ txInfo.data }}

                        </textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- / Section 2: Current State -->



